<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<style> 
    .block{
        background-color: aqua;
        margin: 10px;
        padding: 5px;
    }
    .inline{
        background-color: rgb(115, 206, 115);
        padding: 10px;
        margin:10px;
    }
    .Inline-Block{
        display: inline-block;
        background-color:rgb(212, 182, 240);
    }

</style>
<body>
    <h2>Display:Block</h2>
    <div class="block">block 1</div>
    <div class="block">block 2</div>

    <h2>Display:Inline</h2>
    <span class="inline">word1</span>
     <span class="inline">word2</span>
      <span class="inline">word3</span>

      <h2>Display:Inline-Block</h2>
      <div class="Inline-Block">A</div>
       <div class="Inline-Block">B</div>
         <div class="Inline-Block">C</div>    
    </body>

</html>